@import "colores.scss";



        /* Generales */
        *{
            margin: 0;
            padding: 0;
        }

        a{
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 5px;
        }

        ul{
            list-style-type: none;
        }

        body {
            background-color: #FFEAC9;
        }



        /* Estilo al header */
        .header {
            background-color: #FFEAC9;
            display: grid;
            grid-template-areas: "margin1 logo titulo margin2";
            grid-template-columns: 5% 20% 60% 15%;
            column-gap: 15px;
            row-gap: 10px;

            &__logo {
                grid-area: logo;
                justify-self: center;
                align-self: center;
            }

            &__titulo {
                grid-area: titulo;
                align-self: center;
                padding: 10px;  
            }


            &__h1 {
                font-family: 'Lora', serif;
                color: black;
                width: 80%;
                
            }

            &__iconRedes {    
                width: 50px; height: 50px;  
            }

        } 
      


        /* Estilo al  Nav*/
        .menu {

            &__lista {
                display: flex;
                background-color: #FF616D;
                padding: 0% 10% 0% 10%;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                flex-flow: wrap;
                justify-content: space-around;
            }


            &__link {
                color: $colorLetraNav;
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                font-size: 15px;
                padding: 2px;  
                text-transform: uppercase; 
                letter-spacing: 2px;

            }

            &__link:hover {
                padding: 2px;
                text-decoration: underline;
                color: #FFEAC9;
            }

        }
         
        

        /* Estilo Main */
        main {
            margin: 0 20% 0 20%;
        }

        /* Modelado HOME */
        @for $i from 1 through 3 {
            .seccion#{$i} {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 30px 0 50px 0;
                align-items: center;    
            }

            @for $i from 0 to 3 {
                
                }.seccion#{$i}__art#{$i} {
                    flex: 1;
                    display: inline-block;
                    width: 50%;
                    // padding-right: 3%;     
                }

                &.seccion#{$i}__img#{$i} {
                    flex: 1;
                    display: inline-block;
                    width: 50%;
                    // padding-left: 3%;
                }
        }

        /* Modelado PRODUCTOS */
        .catalogoPromociones {
            display: grid;
            grid-template-areas: "cat promo";
            grid-template-columns: 50% 50% ;
            column-gap: 15px;
            margin: 30px 0px 20px 0px;
        
            &__cat {
                grid-area: cat;
                justify-self: center;
            }
    
            &__promo {
                grid-area: promo;
                justify-self: center;
            }
        
        }

        .navSecundario {

            &__lista {
                @extend .menu__lista;
                background-color: $colorMorado;
                
            }

            &__link {
                @extend .menu__link;
                font-size: 14px;

            }

            &__link:hover {
                padding: 2px;
                text-decoration: underline;
                color: $colorLetraNav;
            }

        }

        .productos {
            display: flex;
            flex-direction: column;

        }

        .filaFlex {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
                
        }

        .imgProductos {
            width: 90%;
            height: 90%;
        }

        /* Modelado CONSULTORA */
        .consultora {
            display: grid;
            grid-template-areas: "consultora consultora"
                                 "boton1 boton1"
                                 "ganar ganar"
                                 "artpasos imgpasos"
                                 "boton2 boton2"
                                 "imgtest arttest"
                                 "mensaje mensaje";
            grid-template-columns: 50% 50% ;
            column-gap: 5px;
            row-gap: 60px;
            margin: 30px 0px 20px 0px;
            
            &__invitacion {
                grid-area: consultora;
                // justify-self: center;
                margin-top: 15px;
                justify-content: center;
                
            }

            &__boton1 {
                grid-area: boton1;
                justify-self: center;
            }

            &__ganancias {
                grid-area: ganar;
                justify-self: center;
                margin-top: 15px;
            }

            &__artpasos {
                grid-area: artpasos;
                align-items: center;
                align-self: center;
            }
    
            &__imgpasos {
                grid-area: imgpasos;
                justify-self: center;
            }

            &__boton2 {
                grid-area: boton2;
                justify-self: center;
            }

            &__arttest {
                grid-area: arttest;
                align-items: center;
                align-self: center;
                
            }
    
            &__imgtest {
                grid-area: imgtest;
                justify-self: center;
                
            }
    
            &__mensaje {
                grid-area: mensaje;
                justify-self: center;
                justify-content: center;
            }

            &__boton {
                font-size: 18px;
            }
        }

        /* Modelado TUTORIALES */

        .video {
            margin-bottom: 3em;
            margin-top: 1em;
        }

        /* Modelado CONTACTO */
        .formSub {
            color: $colorMorado;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: bold;
        }

        select, textarea {
            margin: 5px 0 15px 0;
            border: $colorMorado;
        }


        /* Textos y colores */
        h2 {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            color: #440047;
            padding-top: 1%;
            padding-bottom: 2%;
            }

        h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            color: $colorRosaFuerte;
            padding-bottom: 1%;
        }   

        h4 {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            color: $colorRosaFuerte;
            text-align: center;
        }

        .centrado {
            text-align: center;
        }
        
        .derecha {
            text-align: right;
        } 

        .textoNormal {
            color: black;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            padding: 1% 2% 3% 2%;
            text-align: justify;
        }

        .textoNegrilla {
            color: black;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: bold;
        }

        .fondoRosaFuerte{
            background-color: $colorRosaFuerte;
        }


        /* Estilo Footer */
        .footer {
            background-image: linear-gradient(to right, $colorRosaFuerte, rgb(248, 155, 170) );
            padding:15px 0px 10px 0px;
            display: grid;
            grid-template-areas: "margin5 menu sigueme margin6";
            grid-template-columns: 10% 35% 40%  15%;
            column-gap: 15px;
            row-gap: 10px;

            &__menu {
                grid-area: menu;
            }

            &__redes {
            grid-area: sigueme;
            display: flex;
            flex-direction: row;
            padding: 2px;
            justify-self: right;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            }

            &__lista {
                color: #FFEAC9;
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                font-size: 18px;
            }
        
            &__link {
                color: $colorLetraNav;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 14px;
            }

            &__link:hover {
                padding: 2px;
                text-decoration: underline;
                color: #FFEAC9;
            }

            &__sigueme {
                color: rgb(165, 9, 74);
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-weight: bold;
            }

            &__icono {    
                width: 80px; height: 80px;  
                padding: 20%;
            }
          
        }

        

        


        
        

   